[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
grpcio = "*"
grpcio-tools = "*"
fastapi = "*"
numpy = "*"
opencv_python_headless = "*"
python-dotenv = "*"
python-multipart = "*"
PyYAML = "*"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-2.1.0-cp311-cp311-manylinux_2_17_aarch64.manylinux2014_aarch64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/torchvision-0.16.0-cp311-cp311-linux_aarch64.whl"}
uvicorn = "*"
transformers = "*"
flask = "*"

[requires]
python_version = "3.11"

